
    <div class="container header-container">
        <a routerLink="/" class="logo">
            <div class="logo-icon">
              <i class="fas fa-tools"></i>
            </div>
            <div class="logo-text">Tool<span>Kit</span>Pro</div>
          </a>
        <nav>
            <ul>
              <li><a routerLink="/">Home</a></li>
              <li><a routerLink="/bill-split">Bill Split</a></li>
              <li><a routerLink="/img-compress">Image Compress</a></li>
              <li><a routerLink="/kids-math-util">Kids Math</a></li>
              <li><a routerLink="/pdf-to-word">PDF to Word</a></li>
            </ul>
          </nav>
        <button class="mobile-menu-btn" id="mobileMenuBtn">
            <i class="fas fa-bars"></i>
        </button>
    </div>

