<div class="container header-container">
  <a routerLink="/" class="logo">
      <div class="logo-icon">
        <i class="fas fa-tools"></i>
      </div>
      <div class="logo-text">Tool<span>Kit</span>Pro</div>
    </a>
  <nav [class.active]="isMenuActive"> <!-- Add binding here -->
      <ul>
        <li><a routerLink="/" (click)="closeMobileMenu()">Home</a></li>
        <li><a routerLink="/bill-split" (click)="closeMobileMenu()">Bill Split</a></li>
        <li><a routerLink="/img-compress" (click)="closeMobileMenu()">Image Compress</a></li>
        
        <!-- PDF Tools -->
        <li class="dropdown">
          <a>PDF Tools <i class="fas fa-caret-down"></i></a>
          <div class="dropdown-content">
            <a routerLink="/pdf-to-word" (click)="closeMobileMenu()">PDF Word Conversion</a>
            <li><a routerLink="/pdf-merge" (click)="closeMobileMenu()">Merge PDF</a></li>
            <li><a routerLink="/pdf-unlock" (click)="closeMobileMenu()">Unlock PDF</a></li>
            <li><a routerLink="/pdf-lock" (click)="closeMobileMenu()">Lock PDF</a></li>
          </div>
        </li>
        <!-- New Utility dropdown -->
        <li class="dropdown">
          <a>Utility <i class="fas fa-caret-down"></i></a>
          <div class="dropdown-content">
            <a routerLink="/flight-itinerary" (click)="closeMobileMenu()">Flight Itinerary</a>
            <li><a routerLink="/kids-math-util" (click)="closeMobileMenu()">Kids Math</a></li>
          </div>
        </li>
      </ul>
    </nav>
  <button class="mobile-menu-btn" (click)="toggleMobileMenu()"> <!-- Add click handler -->
      <i class="fas fa-bars"></i>
  </button>
</div>